<% provide(:title, @film.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @film.title %></h1>
      <h2>Director: <%= @film.director %></h2>
      <h2>Year: <%= @film.year %></h2>
    </section>
  </aside>
  <div class="span4">
    <% if signed_in? %>
      <% if @av_rating==nil %>
          <h2> This film hasn't any ratings yet</h2>
      <%else%>
          <h2> Average rating: <%= @av_rating %></h2>
      <%end%>

      <% if @rating.id==nil %>
          <h2> You didn't rate this film yet</h2>
      <% else %>
          <h2> Your rating: <%=@rating.value%> </h2>
      <%end%>

      <%= form_for @rating do |f| %>
          <%= hidden_field_tag "user_id", @user.id%>
          <%= hidden_field_tag "film_id", @film.id%>
          <%= f.select :value, options_for_select([['--',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]]) %>
          <%= f.submit "Rate this film", class: "bt selecmedium btn-primary" %>
      <% end %>
    <%end%>
  </div>
  <div class="span4">
  <% if signed_in? %>
      <% if Preference.find_by_fan_id_and_favfilm_id(current_user.id,@film.id)%>
          <%= form_for @preference, method: :delete do |f| %>
              <%= hidden_field_tag "user_id", @user.id%>
              <%= hidden_field_tag "film_id", @film.id%>
              <%= f.submit "Remove from favourites", class: "bt selecmedium btn-primary" %>
          <% end %>
      <% else %>
          <%= form_for @preference, method: :create do |f| %>
              <%= hidden_field_tag "user_id", @user.id%>
              <%= hidden_field_tag "film_id", @film.id%>
              <%= f.submit "Make this film favourite", class: "bt selecmedium btn-primary" %>
          <% end %>
      <%end%>
  <%end%>
  </div>

</div>