<% provide(:title, 'Show results') %>
<h2>Results!</h2>
<h2>Users:</h2>
<div>
  <ol>
    <% 0.upto(@users.count-1) do |i| %>
        <li>
          <%=@users[i]%>
          <%@user_vectors[i].each do |value| %>
              <%=Float(value).round(4)%>,
          <% end%>
        </li>
    <% end %>
  </ol>
</div>


<h2>Films:</h2>
<div>
  <ol>
    <% 0.upto(@films.count-1) do |i| %>
        <li>
          <%=@films[i]%>
          <%@film_vectors[i].each do |value| %>
              <%=Float(value).round(4)%>,
          <% end%>
        </li>
    <% end %>
  </ol>
</div>



<div>
  <ol>
    <% @SVD_params.each do |param| %>
        <li>
          <%= param.name %>: <%= Float(param.value)%>
        </li>
    <% end %>
  </ol>
</div>